<h1>Edit {{student.name}}</h1>
<hr><br>
<form action="/students/{{student._id}}?_method=PUT" method="POST">
    <label for="name"></label>
    <input type="text" name="name" placeholder="Name" value="{{student.name}}">
    <br>
    <label for="age"></label>
    <input type="number" name="age" placeholder="Age" value="{{student.age}}">
    <br><br>
    <button type="submit">Update</button>
</form>