<h1>New Student</h1>

<form action="/students" method="POST">
    <label for="name"></label>
    <input type="text" name="name" placeholder="Name">
    <br>
    <label for="age"></label>
    <input type="number" name="age" placeholder="Age">
    <br><br>
    <button type="submit">Add a New Student</button>
</form>